name: Deploy Portfolio (DEV & PROD)

on:
  push:
    branches:
      - dev
      - main
      
  permissions:
    contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: stable

      - name: Enable Flutter Web
        run: flutter config --enable-web

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            ENV_NAME=prod
            BASE_HREF="/${{ github.event.repository.name }}/"
          else
            ENV_NAME=dev
            BASE_HREF="/${{ github.event.repository.name }}/dev/"
          fi

          echo "Building for environment: $ENV_NAME"
          echo "Base href: $BASE_HREF"

          flutter build web \
            --release \
            --base-href="$BASE_HREF" \
            --dart-define=ENV=$ENV_NAME \
            --dart-define=BUILD_VERSION=${{ github.run_number }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          destination_dir: ${{ github.ref == 'refs/heads/main' && '' || 'dev' }}
          publish_dir: build/web
